
arxius desats Json/events_app_data_2025-04-28.json
arxius desats Json/contactes personal i empreses.json
fitxers prompt/
fitxers_prompt/
arxius desats Json/
versions_desenvolupament/
libs/
01_MIGRACIO/
arxius_json_dev/
libs/fullcalendar/
